body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  row-gap: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

.album {
  width: 100%;
}

.cover-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.cover-wrapper:hover .icons {
  display: flex;
}

.cover {
  width: 100%;
}

.cover:hover {
  filter: brightness(25%);
}

h1 {
  font-size: 17px;
}

h3 {
  margin: 3px 0;
}

.icons {
  position: absolute;
  bottom:40%; 
  display: none;
  justify-content: center;
}

.icon {
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(286deg) brightness(1200%) contrast(95%);
  margin-right: 30px;
}

.play { 
  width: 20%;
  transition: all .2s ease-in-out;
  opacity: 0.7;
}

.favorite, .dots {
  width: 10%;
}

.play:hover { 
  transform: scale(1.3); 
  opacity: 1;
}

.underline {
  font-family: Helvetica;
  font-size: 14px;
}

.artist-name {
  color: #a0a0a0;
}

.underline:hover {
  text-decoration: underline;
}

.artist-container {
  display: inline;
}

.artist-container:last-child::before {
  content: " & ";
  color: #a0a0a0;
}

.artist-container:not(:first-child, :last-child)::before {
  color: #a0a0a0;
  content: ", ";
}

.artist-container:only-child::before { content: ""; }


@media(min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}  

@media(min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}  
